{% extends 'base.html' %}
{% block container %}

<h1>Students List</h1>
<a href="{{url_for('student.create_student')}}" class="btn btn-primary btn-sm" role="button" >Create student</a>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Matric</th>
        <th>Name</th>
        <th>Prog Code</th>
        <th>Prog Name</th>
        <th>IC No</th>
        <th>Session</th>
        <th>Semester</th>
        <th>Action</th>
    </tr>
 
{% for student in students%}
    <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.matric_no }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.prog_code }}</td>
        <td>{{ student.prog_name }}</td>
        <td>{{ student.ic_no }}</td>
        <td>{{ student.session }}</td>
        <td>{{ student.semester }}</td>
        <td>
            <a href="{{ url_for('student.delete_student', id=student.id) }}"
                class="btn btn-danger btn-sm"
                role="button"
                onclick="return confirm('Are you sure you want to delete this student?');">Delete</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">student not found.</td>
    </tr>
</div>
{% endfor %}
</table>
    <div class="pagination">
        {% if students.has_prev %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ students.prev_num }}">‹ Previous</a>
        {% endif %}

        <span class="active">Page {{ students.page }} / {{ students.pages }}</span>

        {% if students.has_next %}
            <a href="?page={{ students.next_num }}">Next ›</a>
            <a href="?page={{ students.pages }}">Last &raquo;</a>
        {% endif %}
    </div>
{% endblock %}
